<div class=“jumbotron”>
  <h1 class="text-center">About Stock Market Portfolio </h1>
  <div class="text-center"></div>
  <hr style="width:66%">

  <div class="container-fluid">
    <div class="row">
      <div class="center-block">


        <div class="text-area bg-light">
          Stock Market portfolio is a web application built by Boutin, Malarcher, Stoll, and Surana Co. using only the
          finest node, handlebars, and mysql software.
          It comes with state of the art stock quereying technology powered by IEXcloud and styling courtesy of
          Bootstrap and font awesome.
          After logging in all you need to do is enter your stocks seperated by a comma on our portfolio page, or for
          news information head to our news center!
          Enjoy the site!

        </div>
      </div>
    </div>
  </div>
</div>
<br>

<br>
<footer>
  <div class="bg-dark">
    <div class="text-center text-light">Stock data provided by IEX Cloud</div>
    <div class="text-center text-light">Powered by Bootstap</div>
  </div>
</footer>