<div class=“jumbotron”>
   <h1 class=“display-2">Recent portfolio news</h1>
   <div class="text-center">Enter company names seperated by commas to view news</div>
    <hr style="width:66%">
   <br>
      <form class="form-inline my-2 my-lg-0" action="/portfolio" method="POST">
      <input class="form-control mr-sm-2" type="search" placeholder="Enter company names" aria-label="Search" name="newsSearch">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Lookup</button>
       </form>

        <br>
   <h1 class=“display-2">Your Portfolio</h1>
    <hr style="border-width: 2px;">



{{#each response}}
<div>
<strong><a href={{this.response.docs.[0].web_url}}>{{this.response.docs.[0].abstract}}</a></strong>
<p>{{this.response.docs.[0].lead_paragraph}}</p>
</div>
{{/each}}

