<div class=“jumbotron”>
   <h1 class=“display-2">Recent portfolio news</h1>



{{#each response}}
<div>
<strong><a href={{this.response.docs.[0].web_url}}>{{this.response.docs.[0].abstract}}</a></strong>
<p>{{this.response.docs.[0].lead_paragraph}}</p>
</div>
{{/each}}

